body, html {
  height: 100%;
  margin: 0px;
  background-color: #86dbca; }

* {
  box-sizing: border-box; }

.header {
  position: relative;
  background-color: #3fd277f5;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 32px; }

.container {
  display: flex;
  height: 100%; }
  .container .stack-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
    .container .stack-body .body {
      position: relative;
      border: 10px solid #3f9bd2;
      border-radius: 2px;
      border-top: none;
      box-shadow: -1px 0px 8px 7px #386ba08f;
      height: 600px;
      width: 300px;
      padding: 0px;
      margin: 50px;
      display: flex;
      flex-direction: column-reverse; }
      .container .stack-body .body .items, .container .stack-body .body .move-items, .container .stack-body .body .pop-items, .container .stack-body .body .test, .container .stack-body .body .test2 {
        position: relative;
        background-color: #43b5b5;
        color: white;
        font-size: 20px;
        align-content: center;
        height: 48px;
        width: 280px;
        border: 1px solid white;
        line-height: 50px;
        text-align: center; }
      .container .stack-body .body .move-items {
        animation: slide 1s linear; }
      .container .stack-body .body .pop-items {
        animation: slide-down 1s linear alternate-reverse; }
  .container .stack-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
    .container .stack-functions .functions {
      display: flex;
      flex-direction: column; }
      .container .stack-functions .functions button {
        display: block;
        font-size: 40px;
        padding: 10px;
        margin: 10px;
        background-color: #3f9bd2;
        color: white;
        border-radius: 20px; }

.popup {
  height: 100px;
  width: 250px;
  position: absolute;
  background-color: white;
  bottom: 40%;
  left: 42%;
  box-shadow: -2px -2px 6px 5px #6d81af;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  display: none;
  animation: popup-animation 0.1s linear; }

@keyframes slide {
  0% {
    opacity: 0;
    background-color: red;
    left: -350px;
    bottom: 600px; }
  30% {
    background-color: blue;
    left: 0px;
    bottom: 600px; }
  100% {
    background-color: red;
    left: 0px;
    bottom: 0px; } }
@keyframes slide-down {
  0% {
    opacity: 0;
    background-color: red;
    right: -350px;
    bottom: 600px; }
  30% {
    background-color: blue;
    right: 0px;
    bottom: 600px; }
  100% {
    right: 0px;
    bottom: 0px;
    display: none; } }
.test {
  animation: swap-first 5s linear; }

.test2 {
  animation: swap-second 5s linear; }

@keyframes popup-animation {
  from {
    bottom: 0; }
  to {
    buttom: 30%; } }
@keyframes swap-first {
  0% {
    background-color: #6cd0e6;
    bottom: 0px; }
  50% {
    background-color: #563dde;
    left: 0px;
    bottom: 550px; }
  60% {
    background-color: #6cd0e6;
    left: 200px;
    bottom: 550px; }
  80% {
    background-color: #563dde;
    left: 0px;
    bottom: 550px; }
  100% {
    background-color: #6cd0e6;
    left: 0px;
    bottom: 0px; } }
@keyframes swap-second {
  0% {
    background-color: #6cd0e6;
    bottom: 0px; }
  50% {
    background-color: #563dde;
    right: 0px;
    bottom: 600px; }
  60% {
    background-color: #6cd0e6;
    right: 200px;
    bottom: 600px; }
  80% {
    background-color: #563dde;
    right: 0px;
    bottom: 600px; }
  100% {
    background-color: #6cd0e6;
    right: 0px;
    bottom: -50px; } }

/*# sourceMappingURL=style.css.map */
