body,html{
    height: 100%;
    margin: 0px;

}
*{
    box-sizing: border-box;
}
.header{
    position: relative;
    background-color:  #3fd277f5;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 32px;
}

.container{
    display: flex;
    height: 100%;
    .stack-body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .body{
            border:  10px solid #3f9bd2;
            border-radius: 2px;;
            border-top: none;
            height: 50%;
            width: 150px;
            padding: 50px ;
            margin: 50px;
        }
    }
}
