body,html{
    height: 100%;
    margin: 0px;
    background-color:#86dbca ;
}
*{
    box-sizing: border-box;
}
.header{
    position: relative;
    background-color:  #3fd277f5;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 65px;
}

.container{
    display: flex;
    height: 100%;
    .stack-body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .body{
            position: relative;
            border:  10px solid #3f9bd2;
            border-radius: 2px;;
            border-top: none;
            box-shadow: -1px 0px 8px 7px #386ba08f;
            height: 600px;
            width: 300px;
            padding: 0px ;
            margin: 50px;
            display: flex;
            flex-direction: column-reverse;
            .items {
               position: relative;
               //bottom:40px;
                background-color: #43b5b5;
                color: white;
                font-size: 32px;
                align-content: center;
                height: 48px;
                width: 280px;
                border: 1px solid white;
                line-height: 50px;
                text-align: center;

                //animation: slide-up 5s ease;
            }
            .move-items{
                @extend .items;
                animation: slide 1s linear;
                // animation-direction: reverse; 
            }
          
            }
        }
    
    .stack-functions{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .functions{
            display: flex;
            flex-direction: column;
            button{
            display: block;
            font-size: 40px;;
            padding: 10px;;
            margin: 10px;
            width:100%;
            background-color:#3f9bd2 ;
            color:white;
            border-radius:32px ;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            button:hover{
                // width: 120%;
                // font-size: 32px;
                color: #74f949;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                cursor:pointer;
                // opacity: 0.6;
            }
         
        }
    }
}
.popup {
    height: 120px;
    width: 250px;
    position: absolute;
    background-color: white;
    bottom: 40%;
    left: 42%;
    box-shadow: -2px -2px 6px 5px #6d81af;
    font-size: 32px;
    text-align: center;
    border-radius: 20px;
    display: none;
    vertical-align: middle;
    // line-height: 90px;  
    animation: popup-animation 0.1s linear;// duration timing-function delay iteration-count direction fill-mode;
}
@keyframes slide {
    0%   {opacity: 0;background-color:red; left:-350px; bottom:600px;}
    30%  {background-color:blue; left:0px; bottom:600px;}
    // 50%  {background-color:blue; left:0px; bottom:300px;}
    100% {background-color:red; left:0px; bottom:0px;}    
}
@keyframes slide-down {
   
    0%   {opacity: 0;background-color:red; right:-350px; bottom:600px;}
    30%  {background-color:blue; right:0px; bottom:600px;}
    // 50%  {background-color:blue; left:0px; bottom:300px;}
    //70% {background-color:red; right:0px; bottom:0px;}
   100% {right:0px; bottom:0px; display:none}    
}

@keyframes popup-animation{
    from{bottom:0}
    to{buttom:30%;}
}

@keyframes swap-first{
   
    0%   {background-color:#6cd0e6;  bottom:0px;}
    50%  {background-color:#9c69de; left:0px; bottom:550px;}
    60%  {background-color:#6cd0e6; left:200px;bottom:550px;}
    80%  {background-color:#9c69de; left:0px; bottom:550px;}
    100% {background-color:#6cd0e6; left:0px; bottom:0px;}  
}
@keyframes swap-second{
    0%   {background-color:#6cd0e6;  bottom:0px;}
    50%  {background-color:#9c69de; right:0px; bottom:600px;}
    60%  {background-color:#6cd0e6; right:200px;bottom:600px;}
    80%  {background-color:#9c69de; right:0px; bottom:600px;}
    100% {background-color:#6cd0e6; right:0px; bottom:-50px;}
}
