body,html{
    height: 100%;
    margin: 0px;
    background-color:#86dbca ;
}
*{
    box-sizing: border-box;
}
.header{
    position: relative;
    background-color:  #3fd277f5;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 32px;
}

.container{
    display: flex;
    height: 100%;
    .stack-body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .body{
            position: relative;
            border:  10px solid #3f9bd2;
            border-radius: 2px;;
            border-top: none;
            box-shadow: -1px 0px 8px 7px #386ba08f;
            height: 600px;
            width: 300px;
            padding: 0px ;
            margin: 50px;
            display: flex;
            flex-direction: column-reverse;
            .items {
               position: relative;
               //bottom:40px;
                background-color: #43b5b5;
                color: white;
                font-size: 20px;
                align-content: center;
                height: 48px;
                width: 280px;
                border: 1px solid white;
                line-height: 50px;
                text-align: center;
                //animation: slide-up 5s ease;
            }
            .move-items{
                @extend .items;
                animation: slide 1s linear;
                // animation-direction: reverse; 
            }
           
            }
        }
    
    .stack-functions{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .functions{
            display: flex;
            flex-direction: column;
            button{
            display: block;
            font-size: 40px;;
            padding: 10px;;
            margin: 10px;
            background-color:#3f9bd2 ;
            color:white;
            border-radius:20px ;
            }
        }
    }
}
@keyframes slide {
    0%   {background-color:red; left:-200px; bottom:600px;}
    30%  {background-color:blue; left:0px; bottom:600px;}
    // 50%  {background-color:blue; left:0px; bottom:300px;}
    100% {background-color:red; left:0px; bottom:0px;}    
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    20% {
        opacity: 1;
        transform: translateY(-100px);
    }
    40% {
        //opacity: 0.5;
        transform: translateY(-200px);
    }
    60% {
        //opacity: 0.5;
        transform: translateY(-300px);
    }
    80% {
        //opacity: 0.5;
        transform: translateY(-500px);
    }
    100% {
        opacity: 0;
        transform: translateY(-500);
    }
}
